<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="servidorMail" value="smtp.office365.com" />
    <add key="puertoMail" value="587" />
    <add key="userMail" value="u201710729@upc.edu.pe" />
    <add key="nombreUserMail" value="Metrica Recursos Humanos" />
    <add key="passMail" value="xxx" />
    <add key="rrhhMail" value="marcos.luna@metricaandina.com" />
    <add key="rutaSoap" value="http://localhost:19560/" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionDB" connectionString="Data Source=DESKTOP-V0DC9NS\MSSQLSERVER01;Initial Catalog=OutcodingRRHH;Integrated Security=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <!--SOAP Configuracion-->
      <serviceBehaviors>
        <behavior name="soa">
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <!--REST Configuracion-->
      <endpointBehaviors>
        <behavior name="rest">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <bindings>
      <webHttpBinding>
        <binding name="Metrica.Rrhh.Colaboradores.Service.RESTConfiguration" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <!--REST-->
      <service name="Metrica.Rrhh.Colaboradores.Service.REST.SeguridadService">
        <endpoint bindingNamespace="http://MetricaAndina/Colaboradores/SeguridadService" behaviorConfiguration="rest" binding="webHttpBinding" contract="Metrica.Rrhh.Colaboradores.Service.REST.ISeguridadService" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.RESTConfiguration" />
      </service>
      <service name="Metrica.Rrhh.Colaboradores.Service.REST.PuestoService">
        <endpoint bindingNamespace="http://MetricaAndina/Colaboradores/PuestoService" behaviorConfiguration="rest" binding="webHttpBinding" contract="Metrica.Rrhh.Colaboradores.Service.REST.IPuestoService" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.RESTConfiguration" />
      </service>
      <!--SOA-->
      <service name="Metrica.Rrhh.Colaboradores.Service.SOA.RequerimientoService" behaviorConfiguration="soa">
        <endpoint bindingNamespace="http://MetricaAndina/Colaboradores/RequerimientoService" binding="basicHttpBinding" contract="Metrica.Rrhh.Colaboradores.Service.SOA.IRequerimientoService" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" />
      </service>
      <service name="Metrica.Rrhh.Colaboradores.Service.SOA.NotificacionService" behaviorConfiguration="soa">
        <endpoint bindingNamespace="http://MetricaAndina/Colaboradores/NotificacionService" binding="basicHttpBinding" contract="Metrica.Rrhh.Colaboradores.Service.SOA.INotificacionService" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" />
      </service>
      <service name="Metrica.Rrhh.Colaboradores.Service.SOA.UtilService" behaviorConfiguration="soa">
        <endpoint bindingNamespace="http://MetricaAndina/Colaboradores/UtilService" binding="basicHttpBinding" contract="Metrica.Rrhh.Colaboradores.Service.SOA.IUtilService" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" />
      </service>
      <service name="Metrica.Rrhh.Colaboradores.Service.SOA.ClienteService" behaviorConfiguration="soa">
        <endpoint bindingNamespace="http://MetricaAndina/Colaboradores/ClienteService" binding="basicHttpBinding" contract="Metrica.Rrhh.Colaboradores.Service.SOA.IClienteService" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" />
      </service>
      <service name="Metrica.Rrhh.Colaboradores.Service.SOA.PostulacionService" behaviorConfiguration="soa">
        <endpoint bindingNamespace="http://MetricaAndina/Colaboradores/PostulacionService" binding="basicHttpBinding" contract="Metrica.Rrhh.Colaboradores.Service.SOA.IPostulacionService" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" />
      </service>
      <service name="Metrica.Rrhh.Colaboradores.Service.SOA.CandidatoService" behaviorConfiguration="soa">
        <endpoint bindingNamespace="http://MetricaAndina/Colaboradores/CandidatoService" binding="basicHttpBinding" contract="Metrica.Rrhh.Colaboradores.Service.SOA.ICandidatoService" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" />
      </service>
      <service name="Metrica.Rrhh.Colaboradores.Service.SOA.EmpleadoService" behaviorConfiguration="soa">
        <endpoint bindingNamespace="http://MetricaAndina/Colaboradores/EmpleadoService" binding="basicHttpBinding" contract="Metrica.Rrhh.Colaboradores.Service.SOA.IEmpleadoService" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="Metrica.Rrhh.Colaboradores.Service.REST.SeguridadService" relativeAddress="SeguridadService.svc" />
        <add service="Metrica.Rrhh.Colaboradores.Service.REST.PuestoService" relativeAddress="PuestoService.svc" />
        <add service="Metrica.Rrhh.Colaboradores.Service.SOA.RequerimientoService" relativeAddress="RequerimientoService.svc" />
        <add service="Metrica.Rrhh.Colaboradores.Service.SOA.NotificacionService" relativeAddress="NotificacionService.svc" />
        <add service="Metrica.Rrhh.Colaboradores.Service.SOA.UtilService" relativeAddress="UtilService.svc" />
        <add service="Metrica.Rrhh.Colaboradores.Service.SOA.ClienteService" relativeAddress="ClienteService.svc" />
        <add service="Metrica.Rrhh.Colaboradores.Service.SOA.PostulacionService" relativeAddress="PostulacionService.svc" />
        <add service="Metrica.Rrhh.Colaboradores.Service.SOA.CandidatoService" relativeAddress="CandidatoService.svc" />
        <add service="Metrica.Rrhh.Colaboradores.Service.SOA.EmpleadoService" relativeAddress="EmpleadoService.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <client>
      <endpoint address="http://localhost:19560/NotificacionService.svc" binding="basicHttpBinding" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" contract="WSNotificacion.INotificacionService" name="BasicHttpBinding_INotificacionService" />
      <endpoint address="http://localhost:19560/PostulacionService.svc" binding="basicHttpBinding" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" contract="WSPostulacion.IPostulacionService" name="BasicHttpBinding_IPostulacionService" />
      <endpoint address="http://localhost:19560/ClienteService.svc" binding="basicHttpBinding" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" contract="WSCliente.IClienteService" name="BasicHttpBinding_IClienteService" />
      <endpoint address="http://localhost:19560/EmpleadoService.svc" binding="basicHttpBinding" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" contract="WSEmpleado.IEmpleadoService" name="BasicHttpBinding_IEmpleadoService" />
      <endpoint address="http://localhost:19560/CandidatoService.svc" binding="basicHttpBinding" bindingConfiguration="Metrica.Rrhh.Colaboradores.Service.SOAConfiguration" contract="WSCandidato.ICandidatoService" name="BasicHttpBinding_ICandidatoService" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />

      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  <log4net>
    <logger name="Metrica.Rrhh.Colaboradores.WS.logger" />
    <root>
      <level value="ERROR" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Error.log" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline ******************** %newline %date %level %thread %logger - %message %newline" />
      </layout>
    </appender>
  </log4net>
</configuration>
