<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotificacionService" />
                <binding name="BasicHttpBinding_IPostulacionService" />
                <binding name="BasicHttpBinding_IClienteService" />
                <binding name="BasicHttpBinding_IEmpleadoService" />
                <binding name="BasicHttpBinding_ICandidatoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19560/NotificacionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificacionService" contract="WSNotificacion.INotificacionService" name="BasicHttpBinding_INotificacionService" />
            <endpoint address="http://localhost:19560/PostulacionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPostulacionService" contract="WSPostulacion.IPostulacionService" name="BasicHttpBinding_IPostulacionService" />
            <endpoint address="http://localhost:19560/ClienteService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClienteService" contract="WSCliente.IClienteService" name="BasicHttpBinding_IClienteService" />
            <endpoint address="http://localhost:19560/EmpleadoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpleadoService" contract="WSEmpleado.IEmpleadoService" name="BasicHttpBinding_IEmpleadoService" />
            <endpoint address="http://localhost:19560/CandidatoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICandidatoService" contract="WSCandidato.ICandidatoService" name="BasicHttpBinding_ICandidatoService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>