<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRequerimientoService" />
                <binding name="BasicHttpBinding_INotificacionService" />
                <binding name="BasicHttpBinding_ICandidatoService" />
                <binding name="BasicHttpBinding_IPostulacionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19560/RequerimientoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequerimientoService"
                contract="WSRequerimiento.IRequerimientoService" name="BasicHttpBinding_IRequerimientoService" />
            <endpoint address="http://localhost:19560/NotificacionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificacionService"
                contract="WSNotificacion.INotificacionService" name="BasicHttpBinding_INotificacionService" />
            <endpoint address="http://localhost:19560/CandidatoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICandidatoService"
                contract="WSCandidato.ICandidatoService" name="BasicHttpBinding_ICandidatoService" />
            <endpoint address="http://localhost:19560/PostulacionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPostulacionService"
                contract="WSPostulacion.IPostulacionService" name="BasicHttpBinding_IPostulacionService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>